{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">


    <title>Отчет</title>
</head>
<body class="body">

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Домашняя</a></li>
        <li><a href="{% url 'about' %}" class="nav-link px-2 link-dark">Обо мне</a></li>
        <li><a href="{% url 'report' %}" class="nav-link px-2 link-dark">Отчет</a></li>
      </ul>

      <div class="col-md-3 text-end">
          <a class="btn btn-outline-primary me-2" href="{% url 'login' %}">Войти</a>
          <a class="btn btn-primary" href="{% url 'register' %}">Зарегистрироваться</a>
      </div>
    </header>
</div>


<section class="section">
    <div class="report-header">
    <h1>Отчет по разработке сайта на Django</h1>
    </div>
    <div>
        <h2>Подготовка</h2>
        <p>Сначала на рабочем столе создаётся папка проекта с именем «Myproject»,
        после чего она открывается в среде разработки PyCharm Community Edition.
        Затем необходимо убедиться, что установлен актуальная версия Python.
        Для этого в консоли<a href="#">(Рисунок 1)</a> вводится команда:</p>

        <pre class="code-block"><code> python --version </code></pre>
        <img src="{% static 'images/drawing/drawing1.png' %}" alt="Проверка версии Python" class="report-image">
        <p class="image-caption">Рисунок 1 — Проверка версии Python.</p>
        <br>
        <p>В случае, если Python не установлен необходимо установить его с официального сайта.</p>
        <hr>
    </div>

    <div>
        <h2>Установка Django</h2>
        <p>После успешной установки Python необходимо добавить фреймворк Django. Для этого в командной строке выполняется следующая команда:</p>

        <pre class="code-block"><code> pip install django </code></pre>
        <p>Этот шаг обеспечивает установку последней версии Django для дальнейшей работы над проектом.<a href="#">(Рисунок 2)</a></p>
        <img src="{% static 'images/drawing/drawing2.png' %}" alt="Установка Django" class="report-image">
        <p class="image-caption">Рисунок 2 — Установка Django.</p>
        <hr>
    </div>

    <div>
        <h2>Создание проекта</h2>
        <p>Следующим шагом создаётся новый Django-проект с помощью команды:</p>

        <pre class="code-block"><code> django-admin startproject [name]  </code></pre>
        <p>где [name] — это название вашего проекта (например, Myproject).</p>
        <p>После создания проекта нужно перейти в его директорию командой:</p>
        <pre class="code-block"><code> cd [name]  </code></pre>
        <p>Эти действия позволяют начать работу с проектом и выполняются, как показано на <a href="#">Рисунке 3</a>.</p>
        <img src="{% static 'images/drawing/drawing3.png' %}" alt="Создание и открытие проекта" class="report-image">
        <p class="image-caption">Рисунок 3 — Создание и открытие проекта.</p>
        <hr>
    </div>

    <div>
        <h2>Создание приложения</h2>
        <p>В Django приложение (app) предназначено для логической организации функционала проекта — оно группирует связанные компоненты,
            такие как модели, представления и шаблоны, обеспечивая четкую структуру кода.
            Чтобы создать новое приложение, выполните в командной строке:</p>

        <pre class="code-block"><code> python manage.py startapp [name]    </code></pre>
        <p>где [name] — название приложения (например, main, blog и т. д.).</p>
        <p>Этот шаг показан на <a href="#">Рисунке 4</a>. После выполнения команды в проекте появится папка с базовой структурой приложения, готовая для дальнейшей разработки.</p>
        <img src="{% static 'images/drawing/drawing4.png' %}" alt="Создание приложения" class="report-image">
        <p class="image-caption">Рисунок 4 — Создание приложения.</p>
        <hr>
    </div>

    <div>
        <h2>Добавление приложения</h2>
        <p>Для корректной интеграции созданного приложения в Django-проект необходимо зарегистрировать его в основном конфигурационном файле,
            расположенном по пути (myproject/settings.py). Без регистрации в INSTALLED_APPS Django не распознает приложение,
            что делает невозможным использование его моделей, шаблонов и маршрутов.
            На <a href="#">Рисунке 5</a> показан пример корректного добавления приложения с соблюдением всех требований к формату.
            После сохранения изменений приложение становится активным и полноценно взаимодействует с другими модулями проекта.</p>

        <img src="{% static 'images/drawing/drawing5.png' %}" alt="Добавление приложения" class="report-image">
        <p class="image-caption">Рисунок 5 — Добавление приложения.</p>
        <hr>
    </div>

    <div>
        <h2>Создание модели пользователя</h2>
        <p>Следующим этапом является проектирование моделей данных, которые определяют структуру и логику хранения информации в базе данных.
            В Django модель пользователя позволяет расширить стандартный функционал, добавив уникальные поля (например, аватар, телефон, роль) и методы,
            соответствующие требованиям проекта. Модели располагаются в файле models.py внутри директории приложения (myapp/models.py).
            Пример структуры модели пользователя с добавленными полями представлен на <a href="#">Рисунке 6</a>.
            После создания моделей необходимо выполнить миграции, чтобы применить изменения к базе данных.</p>

        <img src="{% static 'images/drawing/drawing6.png' %}" alt="Создание модели пользователя" class="report-image">
        <p class="image-caption">Рисунок 6 — Создание модели пользователя.</p>
        <hr>
    </div>

    <div>
        <h2>Настройка пользовательской модели</h2>
        <p>После создания пользовательской модели необходимо указать использование данной модели.
            Данное действие выполняется в файле по пути (myproject/settings.py) и представленно на <a href="#">Рисунке 7</a>.</p>

        <img src="{% static 'images/drawing/drawing7.png' %}" alt="Настройка пользовательской модели" class="report-image">
        <p class="image-caption">Рисунок 7 — Настройка пользовательской модели.</p>
        <hr>
    </div>

    <div>
        <h2>Выполнение миграций</h2>
        <p>Следующий этап — применение миграций <a href="#">(Рисунок 8)</a>. Для этого используются команды:</p>
        <pre class="code-block">
            <code>python manage.py makemigrations
            python manage.py migrate  </code></pre>
        <p>Без миграций разработчикам пришлось бы вручную создавать SQL-скрипты для каждой правки в моделях.
            Это увеличивает риск ошибок, усложняет процесс разработки и замедляет работу над проектом. Миграции же обеспечивают контроль версий для БД,
            упрощая командную работу и откат изменений при необходимости.</p>


        <img src="{% static 'images/drawing/drawing8.png' %}" alt="Выполнение миграций" class="report-image">
        <p class="image-caption">Рисунок 8 — Выполнение миграций.</p>
        <hr>
    </div>

    <div>
        <h2>Создание форм</h2>
        <p>Следующим этапом является создание форм для регистрации и авторизации,
            которые необходимы в соответствии с требованиями к разработке данного проекта.
            Чтобы создать формы регистрации и авторизации необходимо создать файл по пути «myproject/myapp» с названием «forms.py» как показано на <a href="#">Рисунке 9</a>.</p>


        <img src="{% static 'images/drawing/drawing9.png' %}" alt="Создание форм" class="report-image">
        <p class="image-caption">Рисунок 9 — Создание форм.</p>
        <br>
        <p>На <a href="#">рисунке 9</a> представлены две формы: «CustomUserCreationForm» и «CustomAuthenticationForm». Первая форма, «CustomUserCreationForm», предназначена для регистрации новых пользователей. Она позволяет заполнить поля «Имя пользователя», «Электронная почта», «Пароль1» и «Пароль2», которые затем используются для создания новой записи в таблице «Пользователи». Иными словами, при регистрации пользователь указывает имя, электронную почту, пароль и его подтверждение.
Вторая форма, «CustomAuthenticationForm», служит для авторизации. Она использует данные, хранящиеся в таблице «Пользователи», а именно поля «имя пользователя» и «пароль», для проверки подлинности ранее зарегистрированного пользователя.</p>
        <hr>
    </div>

    <div>
        <h2>Создание представлений</h2>
        <p>Представления играют ключевую роль в функциональности приложения, обеспечивая взаимодействие с пользователем,
            обработку его действий и отображение необходимой информации. Кроме того, представления отвечают за взаимодействие с базой данных (БД).
            Как показано на <a href="#">рисунке 10</a>, файлы представлений (views.py) обычно размещаются в каталоге приложения: myproject/myapp/views.py.
            Именно в этих файлах определяется логика обработки запросов пользователей, извлечения данных из БД, их обработки и, наконец, формирования ответа,
            который будет показан пользователю. Например, здесь может быть логика регистрации новых пользователей, авторизации,
            отображения списка товаров или редактирования профиля.</p>


        <img src="{% static 'images/drawing/drawing10.png' %}" alt="Создание представлений" class="report-image">
        <p class="image-caption">Рисунок 10 — Создание представлений.</p>
        <hr>
    </div>

    <div>
        <h2>Создание шаблонов</h2>
        <p>На следующем этапе необходимо разработать шаблоны, которые будут отображать формы регистрации и авторизации.
            Шаблон register.html будет отвечать за внешний вид и структуру формы регистрации, позволяя пользователю ввести свои данные.
            Шаблон login.html в свою очередь определит внешний вид формы авторизации, где пользователь сможет ввести свои учётные данные для входа в систему.</p>
        <p>Для организации шаблонов в каталоге приложения создаётся папка с именем «Templates». Внутри этой папки размещаются файлы register.html и login.html,
            содержащие HTML-код соответствующих форм. Визуально структуру каталогов можно увидеть на следующих рисунках:</p>
        <br>

        <img src="{% static 'images/drawing/11.png' %}" alt="Добавление шаблонов в новую директорию" class="report-image">
        <p class="image-caption">Рисунок 11 — Добавление шаблонов в новую директорию.</p>
        <br>
        <img src="{% static 'images/drawing/12.png' %}" alt="Код шаблона страницы авторизации" class="report-image">
        <p class="image-caption">Рисунок 12 — Код шаблона страницы авторизации.</p>
        <br>
        <img src="{% static 'images/drawing/drawing13.png' %}" alt="Код шаблона регистрации" class="report-image">
        <p class="image-caption">Рисунок 13 — Код шаблона регистрации.</p>
        <hr>
    </div>

    <div>
        <h2>Создание шаблонов страниц и подключение статических файлов</h2>
        <p>В соответствии с текущим техническим заданием, для демонстрации функциональности приложения и придания ему более завершённого вида
            необходимо разработать две базовые HTML-страницы. С этой целью были созданы шаблоны Home.html и about.html. Эти шаблоны,
            как показано на <a href="#">рисунке 14</a>, представляют собой HTML-структуру для главной страницы (Home.html) и страницы «О нас» (about.html).
            Их добавление позволит пользователю получить общее представление о работе приложения и его возможностях.</p>

        <br>

        <img src="{% static 'images/drawing/drawing14.png' %}" alt="обновленная структура дерева файлов" class="report-image">
        <p class="image-caption">Рисунок 14 — обновленная структура дерева файлов.</p>
        <br>
        <p>
            Помимо создания HTML-шаблонов, к страницам Home.html и about.html были подключены статические файлы.
            В статических файлах, таких как CSS и изображения, хранится информация, необходимая для стилизации и оформления HTML-страниц,
            обеспечивая визуальную привлекательность и удобство для пользователей. <a href="#">(рисунок 15)</a>
        </p>
        <p>
            Для упрощения и ускорения разработки интерфейса также был подключен Bootstrap v5 через CDN (сеть доставки контента).
            CDN позволяет загружать файлы Bootstrap непосредственно из сети, не требуя их локального хранения в проекте.
        </p>
        <p>
            Все статические файлы организованы в отдельной папке «Static», расположенной по пути myproject/myapp/static.
            Это позволяет структурировать проект и упрощает управление статическими ресурсами. Создание этой папки является общепринятой практикой при разработке веб-приложений.
        </p>
        <img src="{% static 'images/drawing/drawing15.png' %}" alt="Обновленное дерево статических файлов" class="report-image">
        <p class="image-caption">Рисунок 15 — Обновленное дерево статических файлов.</p>
        <br>
        <hr>
    </div>

    <div>
        <h2>Настройка URL </h2>
        <p>
            Перед запуском разрабатываемого проекта необходимо настроить URL-адреса.
            Каждый URL-адрес, который вводит пользователь в браузере, должен быть сопоставлен с конкретным представлением (функцией или классом).
            Это необходимо для того, чтобы Django знал, какой код нужно выполнить для обработки запроса пользователя и возврата соответствующего ответа.
            Например, URL-адрес /register/ может быть связан с представлением, обрабатывающим регистрацию пользователя, а URL-адрес /login/ — с представлением для авторизации.
            Правильная настройка URL-адресов критически важна для навигации по сайту и функционирования приложения в целом.
            Неправильно настроенные URL-адреса могут приводить к ошибкам и неработоспособности отдельных разделов сайта.
        </p>
        <br>
        <hr>
    </div>
    <div>
        <h2>Настройка URL </h2>
        <p>
            Последним шагом перед демонстрацией работоспособности приложения является запуск локального веб-сервера.
            Для этого используется команда, которая запускает встроенный в Django сервер разработки:
        </p>
        <pre class="code-block"><code> python manage.py runserver </code></pre>
        <p>
            После успешного запуска сервера приложение будет доступно в веб-браузере по адресу <a href="http://127.0.0.1:8000/">http://127.0.0.1:8000/</a>.
            Этот адрес указывает на локальный компьютер (127.0.0.1) и порт 8000, на котором работает сервер.
            Открыв этот адрес в браузере, можно увидеть главную страницу приложения и проверить его работоспособность.
            Любые изменения в коде приложения будут автоматически загружаться сервером, что упрощает процесс разработки и отладки.
            Важно отметить, что этот сервер предназначен только для разработки и не подходит для использования в рабочей среде.
        </p>
        <br>
        <hr>
    </div>

    <div>
        <h2>Заключение</h2>
        <p>
            Подводя итоги, можно сказать, что в рамках этого проекта были получены и закреплены основополагающие навыки разработки веб-приложений с использованием Python и Django.
            Было создано небольшое, но функциональное веб-приложение, включающее в себя систему регистрации и авторизации, а также несколько страниц для демонстрации работы.
            Были успешно освоены принципы работы с шаблонами Django, подключения статических файлов (таких как стили и изображения)
            и их эффективного использования для оформления страниц. В целом, получен опыт работы с основными компонентами и архитектурой Django,
            что позволяет в дальнейшем разрабатывать более сложные и масштабируемые веб-приложения. Стоит также отметить,
            что данный отчёт был составлен уже после завершения разработки приложения и служит для наглядного представления процесса и результатов работы.
            Кроме того, весь проект доступен на платформе <a href="https://github.com/Soul32100l/MDK-01.02.-Development-of-information-systems-code">GitHub</a>.
        </p>
        <br>
        <hr>
    </div>


</section>
</body>
</html>